*, *::after, *::before {
    box-sizing: border-box;
  }
  
  :root {
    --hue: 500;
    --saturation: 60%;
    --foreground-color: hsl(var(--hue), var(--saturation), 75%);
    --background-color: hsl(var(--hue), var(--saturation), 25%);
  }
  
  body {
    margin: 0;
    background-color: var(--background-color);
    overflow: hidden;
  }
  
  